.covidcontainer{
    background-color: rgba($color: #ffffff, $alpha: 0.7);
}
table{
    text-align: right;
    margin-right: 500px;
    direction: rtl; 
}
li{
    text-align: right;
    margin-right: 300px;
    direction: rtl;
}
.para{
    text-align: right;
    margin-right: 300px;
    margin-left: 200px;
}
r{
    font-size:24px;
}