.footercontainer{
    background-color: rgba($color: #ffffff, $alpha: 1)
}
.linkfooter{
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
}